.app {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.gameboard {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.square {
  width: 100px;
  height: 100px;
  border: solid 2px black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid #2089a7;
  box-sizing: border-box;
}

.cross {
  width: 90px;
  height: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  background-color: rgb(45, 197, 197);
}

.cross:before {
  left: 50%;
  width: 20%;
  margin-left: -10%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 20%;
  margin-top: -10%;
  width: 100%;
}
